# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
bin/
lib/

# Home Assistant runtime & data
home-assistant.log*
*.db
*.db-shm
*.db-wal
.HA_VERSION
.storage/
/config/
# This ensures translations folder exists but is empty if needed
custom_components/kollektivtrafik_sverige/translations/.placeholder

# Sensitive Info (Safety)
.google.token
.spotify.token
.env
secrets.yaml

# Editor settings
.vscode/
.devcontainer/
.idea/
*.swp
*.swo
*.txt

# OS junk
.DS_Store
Thumbs.db